<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Edit Question</title>-->
<!--    <link rel="stylesheet" href="/styles.css">-->
<!--</head>-->
<!--<body>-->
<!--<h1>Edit Question</h1>-->
<!--<form th:action="@{/questions/add}" th:object="${question}" method="post">-->
<!--    <input type="hidden" th:field="*{id}" />-->
<!--    <label for="topic">Topic:</label>-->
<!--    <input type="text" id="topic" name="topic" th:field="*{topic}" required><br>-->
<!--    <label for="content">Content:</label>-->
<!--    <input type="text" id="content" name="question" th:field="*{question}" required><br>-->
<!--    <input type="submit" value="Save">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
