<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Question List</title>-->
<!--    <link rel="stylesheet" href="/styles.css">-->
<!--</head>-->
<!--<body>-->
<!--<h1>Question List</h1>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Topic</th>-->
<!--        <th>Content</th>-->
<!--        <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="question : ${questions}">-->
<!--        <td th:text="${question.id}"></td>-->
<!--        <td th:text="${question.topic}"></td>-->
<!--        <td th:text="${question.question}"></td>-->
<!--        <td>-->
<!--            <a th:href="@{/questions/showFormForUpdate(questionId=${question.id})}">Edit</a>-->
<!--            <a th:href="@{/questions/delete(questionId=${question.id})}">Delete</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<a th:href="@{/questions/showFormForAdd}">Add New Question</a>-->
<!--</body>-->
<!--</html>-->
